@model LojaCET50B.Dados.Entidades.Cliente

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Cliente</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Apelido)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Apelido)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NIF)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NIF)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.dataNascimento)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.dataNascimento)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
